@model Common.Stores

@{
    ViewBag.Title = "添加门店";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<form id="Add_ffss" method="post" style="padding:10px 60px 20px 60px" action="">
    <table cellpadding="5" align="center">
                <input type="hidden" name="ID" value="@Model.ID"/>
        <tr>
            <td>公司ID:</td>
            <td><input class="easyui-combobox" type="text" name="CompanyID" data-options=" required:true,valueField:'Value',textField:'Key',url:'/Stores/CompanyList_Source'" style="width:200px;" value="@Model.CompanyID"></input></td>
        </tr>
        <tr>
            <td>门店:</td>
            <td><input class="easyui-textbox" type="text" name="StoreName" data-options=" required:true,validType:['lengthExt[5,200,\'门店名长度必须在5-200之间\']','remoteExt[\'/Stores/Companys_StoreName_Ver_AjaxVerify?\'+jQuery(\'#Add_ffss\').serialize(),\'StoreName\',\'门店名称已经存在\']']" style="width:200px;" value="@Model.StoreName"></input></td>
        </tr>
        <tr>
            <td>省份:</td>
            <td><input class="easyui-textbox" type="text" name="Province" data-options="validType:['lengthExt[0,50,\'省份名长度必须在0-50之间\']']" style="width:200px;" value="@Model.Province"></input></td>
        </tr>
        <tr>
            <td>城市:</td>
            <td><input class="easyui-textbox" type="text" name="City" data-options="validType:['lengthExt[0,50,\'城市名长度必须在0-50之间\']']" style="width:200px;" value="@Model.City"></input></td>
        </tr>
        <tr>
            <td>地区:</td>
            <td><input class="easyui-textbox" type="text" name="District" data-options="validType:['lengthExt[0,50,\'地区名长度必须在0-50之间\']']" style="width:200px;" value="@Model.District"></input></td>
        </tr>
        <tr>
            <td>地址:</td>
            <td><input class="easyui-textbox" type="text" name="Address" data-options="validType:['lengthExt[0,200,\'地址名长度必须在2-200之间\']']" style="width:200px;" value="@Model.Address"></input></td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" onclick="Add_Save()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    <a href="javascript:void(0)" onclick="Add_Close()" class="easyui-linkbutton">关闭</a>
    </div>
<div style="display:none">
    <!--操作界面-->
</div>
@section scripts{
    <script type="text/javascript">
    
        function Add_Close() {
            Closedialog(getQueryStringByName("uit"));
        }
        function Add_Save() {
            $.messager.progress({ interval: 200, text: "处理中" });
            $('#Add_ffss').form('submit', {
                url: "/Stores/Add_",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == 1) {
                        alert("操作成功");
                        if (@Html.Raw("\"" + Request["listid"] + "\"") != "") Gridreload("@Request["listid"]", getQueryStringByName("uit"));
                        Add_Close();
                    } else {
                        alert(data);
                    }
                }
            });
        }

    </script>
}