@model Common.UsersRolesMap

@{
    ViewBag.Title = "添加角色";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<form id="AddRole_ffss" method="post" style="padding:10px 60px 20px 60px" action="">
    <table cellpadding="5" align="center">
                <input type="hidden" name="ID" value="@Model.ID"/>
                <input type="hidden" name="UserID" value="@Model.UserID"/>
        <tr>
            <td>账户角色:</td>
            <td><input class="easyui-combobox" type="text" name="RoleName" data-options="validType:['remote[\'/UsersRolesMap/UserRolesMapOnly_AjaxVerify?\'+jQuery(\'#AddRole_ffss\').serialize(),\'RoleName\']'],valueField:'Value',textField:'Key',url:'/UsersRolesMap/RoleList_Source'" style="width:200px;" value="@Model.RoleName"></input></td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" onclick="AddRole_Save()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    <a href="javascript:void(0)" onclick="AddRole_Close()" class="easyui-linkbutton">关闭</a>
    </div>
<div style="display:none">
    <!--操作界面-->
</div>
@section scripts{
    <script type="text/javascript">
    
        function AddRole_Close() {
            Closedialog(getQueryStringByName("uit"));
        }
        function AddRole_Save() {
            $.messager.progress({ interval: 200, text: "处理中" });
            $('#AddRole_ffss').form('submit', {
                url: "/UsersRolesMap/AddRole_",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == 1) {
                        alert("操作成功");
                        if (@Html.Raw("\"" + Request["listid"] + "\"") != "") Gridreload("@Request["listid"]", getQueryStringByName("uit"));
                        AddRole_Close();
                    } else {
                        alert(data);
                    }
                }
            });
        }

    </script>
}