@model Common.Projects

@{
    ViewBag.Title = "添加产品";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<form id="Add_ffss" method="post" style="padding:10px 60px 20px 60px" action="">
    <table cellpadding="5" align="center">
                <input type="hidden" name="ID" value="@Model.ID"/>
        <tr>
            <td>门店:</td>
            <td><input class="easyui-combobox" type="text" name="StoreID" data-options=" required:true,valueField:'Value',textField:'Key',url:'/Projects/StoresList_Source'" style="width:200px;" value="@Model.StoreID"></input></td>
        </tr>
        <tr>
            <td>产品名:</td>
            <td><input class="easyui-textbox" type="text" name="ProjectName" data-options=" required:true,validType:['length[0,300]']" style="width:200px;" value="@Model.ProjectName"></input></td>
        </tr>
        <tr>
            <td>照片:</td>
            <td><input class="easyui-textbox" type="text" name="Picture" data-options="" style="width:200px;" value="@Model.Picture"></input></td>
        </tr>
        <tr>
            <td>状态:</td>
            <td><input class="easyui-combobox" type="text" name="Status" data-options="valueField:'Value',textField:'Key',url:'/Projects/ProjectStatus_Source'" style="width:200px;" value="@Model.Status"></input></td>
        </tr>
        <tr>
            <td>价格:</td>
            <td><input class="easyui-textbox" type="text" name="Price" data-options=" required:true,validType:['Number[1,100000]']" style="width:200px;" value="@Model.Price"></input></td>
        </tr>
        <tr>
            <td>数量:</td>
            <td><input class="easyui-textbox" type="text" name="Count" data-options=" required:true,validType:['Number[0,100000]']" style="width:200px;" value="@Model.Count"></input></td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" onclick="Add_Save()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    <a href="javascript:void(0)" onclick="Add_Close()" class="easyui-linkbutton">关闭</a>
    </div>
<div style="display:none">
    <!--操作界面-->
</div>
@section scripts{
    <script type="text/javascript">
    
        function Add_Close() {
            Closedialog(getQueryStringByName("uit"));
        }
        function Add_Save() {
            $.messager.progress({ interval: 200, text: "处理中" });
            $('#Add_ffss').form('submit', {
                url: "/Projects/Add_",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == 1) {
                        alert("操作成功");
                        if (@Html.Raw("\"" + Request["listid"] + "\"") != "") Gridreload("@Request["listid"]", getQueryStringByName("uit"));
                        Add_Close();
                    } else {
                        alert(data);
                    }
                }
            });
        }

    </script>
}